.nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #28314e;
    color: #a4a4a4;
    flex-direction: column;
    justify-content: center;
}

.header {
    top: 10;
    left: 500;
    width: 1400px;
    height: 100px;
    background-color: #28314e;
    color: #a4a4a4;
}

.nav img {
    width: 50%;
}

.content {
    margin-left: 320px;
    margin-top: 50px;
}

body {
    height: 100%;
    background-color: #11131a;
}

.login-container{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.logo {
    margin-top: -100px;
}

.MenuCase:focus,
.MenuCase:hover {
    color: #008cdd;
}

.MenuCase {
    color: #a4a4a4;
    text-decoration: none;
    font-size: 18px;
    margin: 8px;
    margin-left: 20px;
}

.crypto-panel {
    width: 1318px;
    height: 100px;
    background-color: #11131a;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #008cdd;
}

.crypto-list {
    flex-direction: column;
    margin-bottom: 0px;
    margin-left: 169px;
}

.main {
    display: flex;
    box-sizing: border-box;
    background-color: #11131a;

}

.MenuCase img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.balance-container {
    font-size: 30px;
    margin: 15px;
    text-align: center;
}

.crypto-price {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.crypto-market-cap {
    margin: 0;
}

.crypto-panel img {
    width: 80px;
    height: 80px;
    margin-right: 40px;
    vertical-align: middle;
}

.crypto-details {
    display: inline-block;
}

.crypto-details h4,
.crypto-details h5 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    margin-right: 115px;
}