body {
    background-color: #11131a !important;
    font-family: Arial, sans-serif;
    color: #242d3c;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'MyCustomFont', sans-serif;
}

.LogoLBL {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    color: #ffffff;
    text-align: center;
}

label {
    color: darkgray;
    font-size: 12px !important;
}

.form1 {
    background-color: #11131a;
    max-width: 400px;
    color: #ffffff;
    font-size: 13px;
}

a {
    text-decoration: none !important;
    color: #008cdd;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    font-size: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 13px;
    background-color: #11131a;
    color: gray;
    text-align: center;
    font-family: 'MyCustomFont', sans-serif;
}

.form-wrapper {
    flex: 1;
    margin-left: 350px;
    margin-top: 0px;
}

.fast-safe-reliable {
    flex: 1;
    margin-left: 900px;
    margin-top: -340px;
    font-size: 100px;
    color: #008cdd;
    font-family: 'MyCustomFont', sans-serif;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.qrCode {
    color: #ffffff;
    text-align: center;
    padding: 100px;
}

.authorization {
    margin-top: -100px;
}

h6 {
    font-size: 12px;
    color: darkgray;
    padding: 10px;
}

.qpCodeImg {
    height: 200px;
}

.QRcodeLBL {
    margin-left: 870px;
    margin-top: -300px;
    color: #ffffff;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 25px;
}

.quick-login {
    margin-left: 400px;
    text-align: center;
    color: gray;
    font-family: 'MyCustomFont', sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    border: none;
    background-color: #11131a;
    border: 1px solid darkgrey;
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border: 2px solid #008cdd !important;
}

input[type="submit"] {
    background-color: #008cdd !important;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005daa !important;
}

.create-new-account {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.copyright {
    color: darkgrey;
    font-size: 14px;
    text-align: center;
}